<h1>Ask your question</h1>
<form action="/answer" method="get">
  <label for="question">Your Question:</label>
  <input type="text" id="question" name="question">
  <input type="submit" value="Ask!">
</form>
